
.user-list {
    margin-top: 2em;
}

.edit {
    padding-left: 0;
}

.edit a {
    text-decoration: underline;
    color: #212529;
    font-size: 1.5em;
}

.edit li {
    list-style-type: none;
    line-height: 2.5em;
}

.edit button {
    float: right;
}

#add-user {
    float: right;
}


.hidden {
    display: inline;
}

.row .space {
    margin-top: 10px;
}

.edit i.material-icons {
    font-size: 17px;
}

/*
spinner
 */
.spinner {
    /*margin: 0 auto;*/
    width: 100px;
    text-align: center;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #0096a4;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}



<!-- card -->
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-title {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2857em;
    height: 55px;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
    height:45px;
}
.card-text-1 {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}


.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

<!-- Event List -->

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
body {
    padding: 60px 0px;

}

.event-list {
    height: fit-content;
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.event-list.connections {
    height: 155px;
}

.event-list:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}

.event-list > li {

    padding: 0px;
    margin: 0px 0px 20px;
}


.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}
.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.event-list > li > .social > ul {
    margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}
.event-list > li > .social > ul > li {
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
}
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);

}


@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .event-list > li > time,
    .event-list > li > img  {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }
    .event-list > li > .info {

        overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        height: 150px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > .info {
        position: relative;
        height: auto;
        text-align: left;
        padding-right: 40px;
    }
    .event-list > li > .info > .title,
    .event-list > li > .info > .desc {
        padding: 0px 10px;
    }
    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 50px;
    }

    .event-list > li > .social > ul > li {
        display: block;
        padding: 0px;
        margin-bottom: 25px;
    }
    .event-list > li > .social > ul > li > form {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
    .event-list .progress{
        margin-left: 10px;
    }

    .event-list .badge {
        float: right;
        margin-top: 10px;
    }
}

<!-- LoginPage -->

body#LoginForm{}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}



.login-form #username {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px
}

.login-form .labelclass {
    width: 100%;
}
.login-form #password {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px
}

.login-form #submit {
    background: #0096a4 none repeat scroll 0 0;
    border-color: #0096a4;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}

.login-form .form-group {
    margin-bottom:10px;
}
.login-form{ text-align:center;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    padding-left: 10px;
}

.progress {
    height: 4px;
    border-radius: 0;
    background: #DDD;
    margin-bottom: 20px;
}