<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='default.js') }}"></script>
</head>

<body id="LoginForm" onload="placeholdersnames();">
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <img src="https://www.xpand-it.com/wp-content/uploads/2016/10/LogoXpandIT-2016.png" style="height: 60px">
                <h2>Tableau Server Administration</h2>
                <p>Please use your LDAP account</p>
            </div>
            <form id ="Login" method="POST">

                <label class = "labelclass">{{ form.username() }}</label>

                <label class = "labelclass">{{ form.password() }}</label>

                <div class="row">
                    <div class="col-sm-12">
                        {{ form.submit() }}
                        {{ form.hidden_tag() }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
