{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block body %}

<div class="row">
    <div class="offset-sm-1 col-sm-10">
        <div class="row">
            <h2 class="user-list">Workbooks available for user {{user.name}}</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class="hidden" method="GET" action="">

                </form>
            </div>
        </div>
        <div class="row space">
            {% for workbook in workbooks %}
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="data:image/png;base64,{{ workbook.image_str }}">
                    <div class="card-block">
                        <h4 class="card-title mt-3">{{ workbook.work_name }}</h4>
                        <div class="meta card-text">
                            <a>Project - {{workbook.project_name}}</a>
                        </div>
                        <div class="card-text-1">
                            Workbook description.
                        </div>
                    </div>
                    <div class="card-footer">
                        <small>GIT status : {{workbook.git_status}}</small>
                        <div class="row">
                        <div class="col-sm-12">
                            {% if (workbook.git_status == 'untracked') or (workbook.git_status == 'changed')%}
                            <button class="btn btn-outline-danger mr-1" data-toggle="modal" data-target="#workbookchanged{{ workbook.workbook_id }}" data-tooltip="tooltip" title="File is not commited or was deleted from the git folder" data-placement="right"><i class="fa fa-github" style="font-size:26px"></i></button>
                            {% elif (workbook.git_status == 'notdownloaded' )%}
                            <button class="btn btn-outline-warning mr-1" data-toggle="modal" data-target="#workbooknotdownloaded{{ workbook.workbook_id }}" data-tooltip="tooltip" title="File is not downloaded from Server" data-placement="right"><i class="fa fa-github" style="font-size:26px"></i></button>
                            {% else %}
                            <button class="btn btn-outline-success mr-1" data-toggle="modal" data-target="#workbookupdated{{ workbook.workbook_id }}" data-tooltip="tooltip" title="File is already updated" data-placement="right"><i class="fa fa-github" style="font-size:26px"></i></button>
                            {% endif%}
                            <button type="button" class="btn btn-outline-secondary mr-1"  data-toggle="modal" data-target="#workbookupload{{ workbook.content_url }}"><i class="fa fa-upload" style="font-size:26px"></i></button>
                            <form class="hidden" method="get" action="/workbooks/{{ user }}/{{ workbook.workbook_id }}/download">
                                <button class="btn btn-outline-secondary mr-1" onclick="loading();"><i class="fa fa-download" style="font-size:26px"></i></button>
                            </form>
                            <div class="modal" id="workbookupload{{ workbook.content_url }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Upload to Server</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="col-sm-12">
                                                <form class="hidden" method="GET" action="">

                                                </form>
                                            </div>

                                            <form  method="post" action="/workbooks/{{ user }}/{{ workbook.work_name }}/upload">
                                                <div class="form-group">
                                                    <label for="serverSelector">Select Tableau Server</label>
                                                    <select class="form-control"  id="serverSelector" name="servername_work" required>

                                                        {% for server in servers %}
                                                        <option>{{server.url}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="userSelector">Select Tableau User</label>
                                                    <select class="form-control" id="userSelector" name="username_work" required>
                                                        {% for user in users %}
                                                        <option>{{user.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="projectSelector">Select Tableau Project</label>
                                                    <select class="form-control" id="projectSelector" name="projectname_work" required>
                                                        {% for project in projects %}
                                                        <option>{{project.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="modal-footer">
                                                    <button class="btn btn-primary"  onclick="loading();" type="submit">Upload</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>

                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="workbookupdated{{ workbook.workbook_id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Upload to Server</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">

                                            <form method="post" >
                                                <div class="form-group">
                                                    <p>Git Status : {{ workbook.git_status }} <br> Data Source Name : {{ workbook.work_name }} <br><b> Workbook is already Updated</b>  </p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="workbooknotdownloaded{{ workbook.workbook_id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Upload to Server</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">

                                            <form method="post" >
                                                <div class="form-group">
                                                    <p>Git Status : {{ workbook.git_status }} <br> Workbook Name : {{ workbook.work_name }} <br><b> Please download first</b>  </p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="workbookchanged{{ workbook.workbook_id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Upload to Server</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="col-sm-12">
                                                <form class="hidden" method="GET" action="">

                                                </form>
                                            </div>

                                            <form method="post" method="post" action="/workbooks/{{ user }}/{{ workbook.work_name }}/commit">
                                                <div class="form-group">
                                                    <p>Git Status : {{ workbook.git_status }} <br>  Workbook Name : {{ workbook.work_name }} </p>
                                                </div>
                                                <div class="form-group">
                                                    <label for="commit-name" class="col-form-label">Commit Message:</label>
                                                    <input type="text" class="form-control" id="commit-name" name="commit_workbook">
                                                </div>
                                                <div class="modal-footer">

                                                    <button class="btn btn-primary" onclick="loading();" type="submit">Commit&Push</button>
                                                    <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}