{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block body %}

<div class="row">
    <div class="offset-sm-1 col-sm-10">
        <div class="row">
            <h2 class="user-list">Datasources available for user {{user}}</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class="hidden" method="GET" action="">

                </form>
            </div>
        </div>
        <div class="row space">
            {% for datasource in datasources %}
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <div class="card-block">
                        <h4 class="card-title mt-3">{{ datasource.name }}</h4>
                        <div class="meta card-text">
                            <a>Project - {{datasource.project_name}}</a>
                        </div>
                        <div class="card-text">
                            Datasource type - {{datasource.datasource_type}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <small>GIT status : {{datasource.git_status}}</small>
                        <div class="row">
                            <div class="col-sm-12">
                            {% if (datasource.git_status == 'untracked') or (datasource.git_status == 'changed')%}
                            <button class="btn btn-outline-danger mr-1 file_upload" data-toggle="modal" data-target="#datasourcechanged{{ datasource.content_url }}" data-tooltip="tooltip" title="File is not commited or was deleted from the git folder" data-placement="right"><i class="fa fa-github" style="font-size:26px"></i></button>
                            {% elif (datasource.git_status == 'notdownloaded' )%}
                            <button class="btn btn-outline-warning mr-1 file_upload"  data-toggle="modal" data-target="#datasourcenotdownloaded{{ datasource.content_url }}" data-tooltip="tooltip" title="File is not downloaded from Server" data-placement="right"><i class="fa fa-github" style="font-size:26px"></i></button>
                            {% else %}
                            <button class="btn btn-outline-success mr-1 file_upload"  data-toggle="modal" data-target="#datasourceupdated{{ datasource.content_url }}" data-tooltip="tooltip" title="File is already updated" data-placement="right"><i class="fa fa-github" style="font-size:26px"></i></button>
                            {% endif%}
                            <button type="button" class="btn btn-outline-secondary mr-1 file_upload" data-toggle="modal" data-target="#datasourceupload{{ datasource.content_url }}"><i class="fa fa-upload" style="font-size:26px"></i></button>
                            <!-- upload  Modal -->
                            <form class="hidden" method="get" action="/datasource/{{ user }}/{{ datasource.datasource_id }}/download">
                                <button class="btn btn-outline-secondary mr-1" onclick="loading();"><i class="fa fa-download" style="font-size:26px"></i></button>
                            </form>
                            <div class="modal" id="datasourceupload{{ datasource.content_url }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Upload to Server</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="col-sm-12">
                                                <form class="hidden" method="GET" action="">

                                                </form>
                                            </div>

                                            <form  method="post" action="/datasource/{{ user }}/{{ datasource.name }}/upload">

                                                <div class="form-group">
                                                    <label for="serverSelector">Select Tableau Server</label>
                                                    <select class="form-control"  id="serverSelector" name="servername" required>

                                                        {% for server in servers %}
                                                        <option>{{server.url}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="userSelector">Select Tableau User</label>
                                                    <select class="form-control" id="userSelector" name="username" required>
                                                        {% for user in users %}
                                                        <option>{{user.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="projectSelector">Select Tableau Project</label>
                                                    <select class="form-control" id="projectSelector" name="projectname" required>
                                                        {% for project in projects %}
                                                        <option>{{project.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="modal-footer">
                                                    <button class="btn btn-primary" onclick="loading();" type="submit">Upload</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="datasourceupdated{{ datasource.content_url }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Upload to Server</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">

                                            <form method="post" >
                                                <div class="form-group">
                                                    <p>Git Status : {{ datasource.git_status }} <br> Data Source Name : {{ datasource.name }} <br><b> Datasource is already Updated</b>  </p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="datasourcenotdownloaded{{ datasource.content_url }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Upload to Server</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">

                                            <form method="post" >
                                                <div class="form-group">
                                                    <p>Git Status : {{ datasource.git_status }} <br> Data Source Name : {{ datasource.name }} <br><b> Please download first</b>  </p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="datasourcechanged{{ datasource.content_url }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Upload to Server</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="col-sm-12">
                                                <form class="hidden" method="GET" action="">

                                                </form>
                                            </div>

                                            <form method="post" method="post" action="/datasource/{{ user }}/{{ datasource.name }}/commit">
                                                <div class="form-group">
                                                    <p>Git Status : {{ datasource.git_status }} <br>  Data Source Name : {{ datasource.name }} </p>
                                                </div>
                                                <div class="form-group">
                                                    <label for="commit-name" class="col-form-label">Commit Message:</label>
                                                    <input type="text" class="form-control" id="commit-name" name="commit">
                                                </div>
                                                <div class="modal-footer">

                                                    <button class="btn btn-primary" onclick="loading();" type="submit">Commit&Push</button>
                                                    <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
