{% extends "layout.html" %}

{% block title %}User{% endblock %}

{% block body %}
<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <h2>Create a User to Authenticate</h2>
    </div>
</div>

<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <form method="post">
            <div class="form-group">
                <label for="user">Username</label>
                <input class="form-control" id="user" type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="user">Password</label>
                <input class="form-control" type="password" id="password" name="password" rows="6" required>
            </div>
            <div class="form-group">
                <label for="serverSelector">Select Tableau Server</label>
                <select class="form-control" id="serverSelector" name="server" required>
                    {% for server in servers %}
                    <option>{{server.url}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary submit-btn" type="submit">Add</button>
        </form>
    </div>
</div>

{% endblock %}
