{% extends "layout.html" %}

{% block title %}{{ user.name }}{% endblock %}

{% block body %}
<h2 class="text-center">Edit User</h2>
<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <form method="post">
            <div class="form-group">
                <label for="user">User</label>
                <input class="form-control" id="user" type="text" name="username" value="{{ user.name }}" required>
            </div>
            <div class="form-group">
                <label for="user">Password</label>
                <input class="form-control" type="password" id="post" name="password" value="{{ password }}" required>
            </div>
            <div class="form-group">
                <label for="serverSelector">Select Tableau Server</label>
                <select class="form-control" id="serverSelector" name="server_edit" required>
                    {% for server in servers %}
                    <option>{{server.url}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary submit-btn" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}