{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block body %}

<div class="row">
    <div class="offset-sm-1 col-sm-10">
        <div class="row">
            <h2 class="user-list">Connections Available for the Tableau API</h2>
        </div>
        <!--<div class="row">
            <div class="col-sm-12">
                <form class="hidden" method="GET" action="/user/add">
                    <button id="add-user" class="btn btn-outline-primary">Add User</button>
                </form>
            </div>
        </div>-->

        <div class="row space">
            <div class="col-sm-12">
                <ul class="edit">
                    <li>
                        <div class="container">
                            <div class="row">
                            {% for user in users %}

                                <div class="[col-sm-6 col-md-4 col-lg-6 mt-4]">
                                    <ul class="event-list connections">
                                        <li>
                                            <div class="info">
                                                <a class="title" href="/user/{{ user.slug }}/edit" title="{{ user.name }}">{{ user.name }}</a>
                                                <p class="desc">Server : {{user.server}}</p>
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li style="width:33%;">
                                                        <form class="hidden" action="/workbooks/{{ user.slug }}/list">
                                                            <button class="btn btn btn-outline-info" onclick="loading();"><span class="fa fa-book"></span></button>
                                                        </form>

                                                    </li>
                                                    <li style="width:34%;">

                                                            <form class="hidden" action="/datasource/{{ user.slug }}/list?user={{ user.slug }}">
                                                                <button class="btn btn btn-outline-info" onclick="loading();"><span class="fa fa-database"></span></button>
                                                            </form>

                                                    </li>
                                                    <li  style="width:34%;">

                                                        <form class="hidden" method="post" action="/user/{{ user.slug }}/delete">
                                                            <button class="btn btn-outline-danger delete" onclick="loading();"><span class="fa fa-trash"></span></button>
                                                        </form>

                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}
