{% extends "layout.html" %}

{% block title %}Server{% endblock %}

{% block body %}
<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <h2>Add Tableau Server URL</h2>
    </div>
</div>

<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <form method="post">
            <div class="form-group">
                <label for="server">Server Name</label>
                <input class="form-control" id="server" type="text" name="serverName" placeholder="Server Name" required>
            </div>
            <div class="form-group">
                <label for="url">Tableau Server Url</label>
                <input class="form-control" id="url" type="url" name="url" placeholder="Url" required>
            </div>
            <div class="form-group">
                <label for="ip_add">Server Ip Address</label>
                <input class="form-control" id="ip_add"  name="ip-add" placeholder="Ip Address" >
            </div>
            <div class="form-group">
                <label for="ssh-username">Server ssh username</label>
                <input class="form-control" id="ssh-username"  name="ssh-username" placeholder="Username ssh access" >
            </div>
            <div class="form-group">
                <label for="ssh-pass">Server ssh password</label>
                <input class="form-control" id="ssh-pass" type="password" name="ssh-password" placeholder="Password ssh access" >
            </div>
            <button class="btn btn-primary submit-btn" type="submit">Add</button>
        </form>
    </div>
</div>

{% endblock %}