{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block body %}

<div class="row">
    <div class="offset-sm-1 col-sm-10">
        <div class="row">
            <h2 class="user-list">Server Available for the Tableau API</h2>
        </div>
        <!--<div class="row">
            <div class="col-sm-12">
                <form class="hidden" method="GET" action="/user/add">
                    <button id="add-user" class="btn btn-outline-primary">Add User</button>
                </form>
            </div>
        </div>-->

        <div class="row space">
            <div class="col-sm-12">
                <ul class="edit">
                    <li>
                        <div class="container">
                            <div class="row">
                                {% for server in servers %}

                                <div class="[col-sm-6 col-md-4 col-lg-6 mt-4]">
                                    <ul class="event-list ">
                                        <li>
                                            <div class="info">
                                                <a class="title" href="/server/{{ server.name }}/edit" title="{{ server.name }}">{{ server.name }}</a>
                                                <p class="desc">Url : {{server.url}}</p>
                                                <p class="desc">OS : {{server.os}}</p>
                                                <p class="desc">Uptime : {{server.uptime}}</p>
                                                <p class="desc">CPU : {{server.cpu}}</p>
                                                <p class="desc">Memory <span class="badge badge-info">{{server.mem_used}}/{{server.mem_total}}</span></p>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped bg-{{server.mem_barColor}} progress-bar-animated"
                                                         role="progressbar" style="width: {{server.mem_used_perc}}%"
                                                         aria-valuenow="{{server.mem_used_perc}}" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                                <p class="desc">Disk : {{server.disk_device}}<span class="badge badge-info">{{server.disk_used}}/{{server.disk_available}}</span>
                                                </p>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped bg-{{server.barColor}} progress-bar-animated"
                                                         role="progressbar" style="width: {{server.disk_used_percent}}%"
                                                         aria-valuenow="{{server.disk_used_percent}}" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="social">
                                                <ul>
                                                    <li  style="width:34%;">

                                                        <form class="hidden" method="post" action="/server/{{ server.name }}/delete">
                                                            <button class="btn btn-outline-danger delete" onclick="loading();"><span class="fa fa-trash"></span></button>
                                                        </form>

                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}








