{% extends "layout.html" %}

{% block title %}{{ server.name }}{% endblock %}

{% block body %}
<h2 class="text-center">Edit Server</h2>
<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <form method="post">
            <div class="form-group">
                <label for="user">Server Name</label>
                <input class="form-control" id="user" type="text" name="servername" value="{{ server.name }}" required>
            </div>
            <div class="form-group">
                <label for="user">Tableau Server Url</label>
                <input class="form-control" type="text" id="post" name="serverurl" value="{{ server.url }}" required>
            </div>
            <div class="form-group">
                <label for="ip_add">Server Ip Address</label>
                <input class="form-control" id="ip_add"  name="ip-add" placeholder="Ip Address" required>
            </div>
            <div class="form-group">
                <label for="ssh-username">Server ssh username</label>
                <input class="form-control" id="ssh-username"  name="ssh-username" placeholder="Username ssh access" required>
            </div>
            <div class="form-group">
                <label for="ssh-pass">Server ssh password</label>
                <input class="form-control" id="ssh-pass" type="password" name="ssh-password" placeholder="Password ssh access" required>
            </div>
            <button class="btn btn-primary submit-btn" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock %}